/bow-CSIC2010
/bow-IDS2018
/bow-UMP
/bow-CSIC2010-384
/bow-CSIC2010-1536
/bow-CSIC2010-192
/bow-CSIC2010-3072
/bow-CSIC2010-768
/bow-CSIC2010-96
/roberta-CSIC2010-192
/roberta-CSIC2010-384
/roberta-CSIC2010-768
/roberta-CSIC2010-96
/roberta-CSIC2010-1536
/roberta-CSIC2010-3072
/bow-MALICIOUSURL-96
/bow-MALICIOUSURL-192
/bow-MALICIOUSURL-384
/bow-MALICIOUSURL-768
/bow-MALICIOUSURL-1536
/bow-MALICIOUSURL-3072
/roberta-MALICIOUSURL-96
/roberta-MALICIOUSURL-192
/roberta-MALICIOUSURL-384
/roberta-MALICIOUSURL-768
/roberta-MALICIOUSURL-1536
/roberta-MALICIOUSURL-3072
/bow-UNSW-NB15-96
/bow-UNSW-NB15-768
/bow-UNSW-NB15-3072
/bow-UNSW-NB15-1536
/bow-UNSW-NB15-384
/bow-UNSW-NB15-192
/roberta-UNSW-NB15-96
/roberta-UNSW-NB15-768
/roberta-UNSW-NB15-3072
/roberta-UNSW-NB15-1536
/roberta-UNSW-NB15-384
/roberta-UNSW-NB15-192
/bow-DRAPER-96
/bow-DRAPER-192
/bow-DRAPER-384
/bow-DRAPER-768
/bow-DRAPER-1536
/bow-DRAPER-3072
/bow-ISCXURL2016-96
/bow-ISCXURL2016-192
/bow-ISCXURL2016-384
/bow-ISCXURL2016-768
/bow-ISCXURL2016-1536
/bow-ISCXURL2016-3072
/roberta-ISCXURL2016-384
/roberta-ISCXURL2016-192
/roberta-ISCXURL2016-768
/roberta-ISCXURL2016-1536
/roberta-ISCXURL2016-3072
/roberta-ISCXURL2016-96
/fasttext-ISCXURL2016-384
/fasttext-UNSW-NB15-192
/fasttext-ISCXURL2016-1536
/fasttext-MALICIOUSURL-384
/fasttext-ISCXURL2016-96
/fasttext-ISCXURL2016-3072
/fasttext-MALICIOUSURL-768
/fasttext-CSIC2010-192
/fasttext-MALICIOUSURL-3072
/fasttext-CSIC2010-384
/fasttext-UNSW-NB15-96
/fasttext-UNSW-NB15-384
/fasttext-CSIC2010-3072
/fasttext-MALICIOUSURL-1536
/fasttext-UNSW-NB15-1536
/fasttext-ISCXURL2016-768
/fasttext-CSIC2010-1536
/fasttext-MALICIOUSURL-192
/fasttext-CSIC2010-96
/fasttext-ISCXURL2016-192
/fasttext-CSIC2010-768
/fasttext-MALICIOUSURL-96
/fasttext-UNSW-NB15-3072
/fasttext-UNSW-NB15-768
